* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* html,
* body {
  background-color: #110f0f;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* html .container,
* body .container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
* html .container .form,
* body .container .form {
  width: 30%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* html .container .form h1,
* body .container .form h1 {
  font-size: 4em;
}
* html .container .form #time,
* body .container .form #time {
  font-size: 3em;
}
* html .container .form #date,
* body .container .form #date {
  font-size: 1.2em;
}
* html .container .form .input-group,
* body .container .form .input-group {
  width: 80%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
* html .container .form .input-group .id-pass,
* body .container .form .input-group .id-pass {
  width: 100%;
}
* html .container .form .input-group .id-pass input,
* body .container .form .input-group .id-pass input {
  width: 100%;
  height: 35px;
  font-size: 1em;
  text-align: center;
  border-radius: 30px;
  outline: none;
  border: 2px solid white;
  color: white;
  background-color: #110f0f;
}
* html .container .form .input-group .id-pass #id,
* body .container .form .input-group .id-pass #id {
  margin-bottom: 10px;
}
* html .container .form .input-group .id-pass #password,
* body .container .form .input-group .id-pass #password {
  margin-top: 10px;
}
* html .container .form .input-group .check,
* body .container .form .input-group .check {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
}
* html .container .form .input-group .check *,
* body .container .form .input-group .check * {
  cursor: pointer;
}
* html .container .form .input-group .check #show-password,
* body .container .form .input-group .check #show-password {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
* html .container .form .input-group .check #label,
* body .container .form .input-group .check #label {
  font-size: 1.2em;
  margin-left: 5px;
}
* html .container .form .input-group #submit,
* body .container .form .input-group #submit {
  width: 100%;
  height: 35px;
  font-size: 1em;
  text-align: center;
  border-radius: 30px;
  outline: none;
  border: 2px solid white;
  color: white;
  background-color: #110f0f;
  cursor: pointer;
}
* html .container .form .input-group #submit:hover,
* body .container .form .input-group #submit:hover {
  background-color: white;
  color: #110f0f;
  transition: all 0.5s;
}
* html .container .form .input-group #submit:active,
* body .container .form .input-group #submit:active {
  background-color: #110f0f;
  color: white;
  transition: all 0.01s;
}
* html .container .img,
* body .container .img {
  width: 70%;
  height: inherit;
  background-image: url("https://source.unsplash.com/1600x900/?nature,water,fire,air,earth,snow");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 900px) {
  * body .container .form h1 {
    font-size: 3em;
  }
  * body .container .form #time {
    font-size: 2.5em;
  }
  * body .container .form #date {
    font-size: 1em;
  }
}
@media only screen and (max-width: 700px) {
  * body .container {
    flex-direction: column;
  }
  * body .container .form {
    width: 100%;
  }
  * body .container .form .input-group {
    margin-top: 50px;
  }
  * body .container .form .check {
    margin-bottom: 30px;
  }
  * body .container .form #submit {
    margin-bottom: 10px;
  }
  * body .container .img {
    width: 100%;
  }
}
@media only screen and (max-height: 500px) {
  * body .container .form h1 {
    font-size: 3em;
  }
  * body .container .form #time {
    font-size: 2.5em;
  }
  * body .container .form #date {
    font-size: 1em;
  }
  * body .container .form .input-group {
    margin-top: 50px;
  }
  * body .container .form .check {
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
